# Ansible managed

[mysqld]
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
bind_address = 89.116.53.189
port = 3306
pid-file = /var/lib/mysql/mysql.pid
local-infile = 0
tmpdir = /var/lib/mysqltmp
tmp_table_size = 128M
max_heap_table_size = 128M
innodb_flush_method = O_DIRECT
innodb_buffer_pool_size = 21608844493
max_allowed_packet = 1G
query_cache_type = 0
max_connections = 2000
interactive_timeout = 20
wait_timeout = 20
connect_timeout = 20
thread_cache_size = 300
key_buffer_size = 2G
max_connect_errors = 5
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
open_files_limit = 3000000
collation_server = utf8mb4_unicode_ci
character_set_server = utf8mb4
table_definition_cache = 2M
innodb_strict_mode = 0
sql_mode = NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
log_warnings = 1
innodb_purge_threads = 4
skip-character-set-client-handshake
skip-name-resolve
userstat = 1
tmp_disk_table_size = 1536M
ssl-ca = /var/lib/mysql/ssl/tls-ca-bundle.pem
ssl-cert = /var/lib/mysql/ssl/hostinger.crt
ssl-key = /var/lib/mysql/ssl/hostinger.key
innodb_log_file_size = 2G
innodb_flush_log_at_trx_commit = 2
table_open_cache = 500K
innodb_buffer_pool_dump_pct = 90
query_cache_size = 0
aria_pagecache_buffer_size = 2G
join_buffer_size = 4M
innodb_io_capacity = 300
innodb_io_capacity_max = 2000
innodb_log_write_ahead_size = 4096
innodb_flush_neighbors = 0
innodb_read_io_threads = 16
innodb_write_io_threads = 16
in_predicate_conversion_threshold = 99999999
key_cache_segments = 64
innodb_undo_tablespaces = 3
core_file

[client]
default-character-set = utf8mb4

[safe_mysqld]
pid-file = /var/lib/mysql/mysql.pid
open_files_limit = 3000000

[mysqldump]
quick
max_allowed_packet = 1G

[mysql]
no-auto-rehash
default-character-set = utf8mb4
